@charset 'utf-8';


html, body {
    
}

body {

    left: 0;
    top: 0;
    right: 50%;
    bottom: 50%;
    width:204px; 
    height:160px;
    background-size: cover;
}


.cover-site {
    width: 433px;
	height: 433px;
	background: url() no-repeat;
	position: absolute;
	background-size: cover;
	position: absolute;
	z-index: 1;
}

/* FONDO DESENFOQUE */

#bgCover {
width: 60px;
  height: 60px;
  background:url(https://i.imgur.com/9ZTfQO4.gif) center no-repeat ;
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  margin: -1px;
  top: 52px;
  left: 0px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.6);
  box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.6);
  z-index: 1;
  left: 37px;
  box-shadow: 0 0 2px #,
   0 0 25px #180df8,
   0 0 50px #d2e40e,
   0 0 200px #180df8;

   }
   a:nth-child(1){
   filter: hue-rotate(270deg);
   }
   a:nth-child(2){
   filter: hue-rotate(110deg);
   }
   a span{
   position: absolute;
   display: block;
   }
   a span:nth-child(1){
   top: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg,transparent,#DF73FF);
   animation: animate1 1s linear infinite;
   }
   @keyframes animate1{
   0%{
   left: -100%;
   }
   50%,100%{
   left: 100%;
   }
  }
/*
.bg-mask {
	width: 245px;
	height: 245px;
	background: url()center no-repeat;
	background-size: cover;
	position: absolute;
	border-radius: 100%;
	-webkit-box-shadow: 1px 2px 15px 0px rgba();
	-moz-box-shadow: 1px 2px 15px 0px rgba();
	box-shadow: 1px 2px 15px 0px rgba();
	z-index: -5;
	overflow: hidden;
	left: 176px;
	top: 54px;
	box-shadow: 0 0 2px #,
   0 0 25px #,
   0 0 50px #,
   0 0 200px #;
   }
   a:nth-child(1){
   filter: hue-rotate(270deg);
   }
   a:nth-child(2){
   filter: hue-rotate(110deg);
   }
   a span{
   position: absolute;
   display: block;
   }
   a span:nth-child(1){
   top: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg,transparent,#);
   animation: animate1 1s linear infinite;
   }
   @keyframes animate1{
   0%{
   left: -100%;
   }
   50%,100%{
   left: 100%;
   }
   }

*/

.web-player {
    width:500px; 
    height:300px;
    color: #fff;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-top: 175px;
}

.cover-album {
    max-width: 430px;
    margin: 1px;
    background: url() no-repeat;
    background-size: cover;
    top: 25px;

    margin-bottom: 0px;
    
}


#currentCoverArt {
  width: 243px;
  height: 243px;
  background: url()center no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.2;
  border-radius: 100%;
  -webkit-box-shadow: 1px 2px 15px 0px rgba();
  -moz-box-shadow: 1px 2px 15px 0px rgba();
  box-shadow: 1px 2px 15px 0px rgba();
  z-index: -1;
  overflow: hidden;
  right: -5px;    /*=====Para cambiar la posicion del Disco=======*/
  top: 54px;
      -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
  
   }
  
   .is-playing #currentCoverArt {
    right: 200px;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/* ZONA FONDO CANCIONES SONADAS */
/*
.historic article {
    margin: 5px 0;
    padding: 10px;
    background-color: none;
}

.historic .cover-historic { 
    width: 95px;
    height: 95px;
    margin-right: 15px;
    float: left;
    border-radius: 10px;
    background: url('https://kastro-59.github.io/star/CD/N78rys5.png/-/preview/-/quality/smart/-/format/auto/') no-repeat;
    background-size: cover;
    border: 2px solid #fefefe;
   
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-image 1s;
}
*/
/* COLOR TEXTO INFO ARTISTA */
.historic .music-info {
    color: white;
    font-family: 'Reem Kufi', sans-serif;
}


/* COLOR TEXTO CANCION */

.historic .music-info .song {
    width: 160px;
    font-weight: bold;
    font-size: 20px;
    
    margin-bottom: 10px;
    color: white;
}

@media(max-width: 400px) {
    .cover-album {
        max-width: 400px;
    }
}
/*
@media(min-width: 300px) {
    .volume-control {
        display: flex;
    }

    .call-lyrics {
        margin-top: 20px;
    }
}

@media(min-width: 300px) {
    body {
        align-items: center;
    }

    .h1-logo {
        text-align: center;
    }

    .logo {
        display: block;
        z-index: 2;
    }

    .logo img {
        max-width: 50px;
    }
*/
    .web-player {
        height: auto;
        margin-top: 0;
    }

    .cover-album {
        margin: 10px 254px;
        height: 450px;
    }


